.quote-page{
    min-height: 110vh;
    background-color:lighten($color: black, $amount: 5);
    padding: 0;
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1{
        margin-bottom: 30px;
        color: white;
        font-weight: bold;
    }

    &__container{

        width: 90% !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        
        &__card{
            width: 300px;
            height: 300px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            margin-left: 20px;
            margin-bottom: 20px;
            transition: opacity 1s;
            //background-image: url('../../assets/jpg/galaxy.jpg');
            background-color: #212122;
            color: white;
            border: 1px solid white;

            h2{
                color: white;
            }

            &:hover{
                cursor:pointer;
              
                opacity: 0.5;
                
            }
    
            &__item{
                width: 300px;
                height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 15;
                 
            }
    
            &__texto{
                
                h2{
                    font-weight: bold;
                    text-align: center;
                     
                }
    
                p{
                    white-space: pre-wrap;
                    text-align: center;
                    font-size: 15px;

                }
                 
                
            }
        }
    }
   

     
}

.modal{
   
    &__title{
        background-color: #212122 !important;
        color: white !important;
        border-bottom: 1px solid white !important;
    }

    &__content{
       display: flex !important;
       align-items: center !important;
       justify-content: center !important;
       background-color: #212122 !important;
       flex-direction: column;

        &__image{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            border: 1px solid white;
          
        }

        &__description{
            
            margin-top: 20px;
            &__p{
                
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: white;
                font-weight: bold;
            }

        }
    }
}



@media only screen and (max-width: 450px) and (min-width: 320px){
    .quote-page{
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px){
    .quote-page{
        font-size: 9px;

        p{
            font-size: 6px;
        }
    }
}

@media only screen and (max-width: 710px) and (min-width: 520px){
    .quote-page{
        font-size: 15px;

        p{
            font-size: 10px;
        }
    }
}

@media only screen and (max-width: 520px) and (min-width: 450px){
    .quote-page{
        font-size: 12px;

        p{
            font-size: 8px;
        }
    }
}