.repo-page{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #87dcea;
     
    svg{
        color: white;
        font-size: 50px;
        margin-left: 20px;
        width: 100px;

        &:hover{
            color:#87dcea;
        }
    }
     
}