.container{

    background-color: lighten($color: (black), $amount: 10);

    .about-page{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
      
        &__container{
            margin-top: 20px;
            border-radius: 5px;
            width: 85%;
            margin-bottom: 30px;
            
            p{
                color: white;
                font-size: 25px;
            }

            &__perfil{
                width: 100%;
                display: flex;
                justify-content: center;;
                margin-bottom: 20px;
                align-items: center;

                &__parrafo{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    span{
                        color: white;
                        &:first-of-type{
                            font-size: 30px !important;
                            margin-bottom: 10px;
                        }

                        &:last-of-type{
                            margin-left: 40px;
                            font-size: 15px;
                        }
                    }

                   
                     
                }

                &__foto{
                    width: 200px;
                height: 200px;
                border-radius: 50%;
                background-image: url('../../assets/jpg/FotoPerfil.jpg');
                background-size: cover;
                background-position: center;
                }
            }
        }
    
        &__tecnologias{
            display: flex;
            flex-wrap: wrap;
            width: 85%;
            justify-content: flex-start;
            border-radius: 10px;
            align-items: center;
        }
       
    }
    
}

 
 

 @media only screen and (max-width: 450px) and (min-width: 320px){
    .card-parent{
     width: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
     
    .card-container{
        width: 300px !important;
        
    }
    }

    .container{
        .about-page{
            &__container{
                p{
                    font-size: 20px;
                }
            }
        }
    }
}

 @media only screen and (max-width: 700px) and (min-width: 550px){
    .card-parent{
     width: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
     
    .card-container{
        width: 300px !important;
    }
        
    }

    .container{
        .about-page{
            &__container{
                p{
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) and (min-width: 450px){
    .card-parent{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        
       .card-container{
           width: 300px !important;
       }
           
       }
   
       .container{
           .about-page{
               &__container{
                   p{
                       font-size: 20px;
                   }
               }
           }
       }
}

@media only screen and (max-width: 320px){
    .card-parent{
     width: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
    
    .card-container{
         
        width: 300px !important;
    }
    }

    .container{
        .about-page{
            &__container{
                p{
                    font-size: 15px;
                    white-space: pre-line;
                }
            }
        }
    }
}