.contact-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    flex-direction: column;
    h1{
        color: black;
        font-size: 50px;
        margin-right: 60px;
      
    }
   

    &__info{
        display: flex;
        flex-direction: column;

        &__item{
            display: flex;
            align-items: center;
            color: black;
            h3{
                color: black;
                margin-left: 15px;
                margin-top: 5px;
                font-size: 25px;
            
            }
            svg{
                width: 30px;
                height: 30px;
            }
        }
    }

    
 
}

@media only screen and (max-width: 450px) and (min-width: 320px){
    
    .contact-page{
        h1{
            font-size: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
        }

        &__info{
            &__item{
                h3{
                    font-size: 18px;
                }
                svg{
                    width: 20px;
                    height: 20px;
                    margin-left: 35px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 450px){
    .contact-page{
        h1{
            font-size: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
        }

        &__info{
            &__item{
                h3{
                    font-size: 18px;
                }
                svg{
                    width: 20px;
                    height: 20px;
                    margin-left: 35px;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px){
    
    .contact-page{
        h1{
            font-size: 25px;
            margin-left: 30px;
            margin-bottom: 20px;
        }

        &__info{
            &__item{
                h3{
                    font-size: 15px;
                }
                svg{
                    width: 20px;
                    height: 20px;
                    margin-left: 15px;
                }
            }
        }
    }
}